.choice-container{
display:flex;
margin-bottom:0.5rem;
width:100%;
font-size:1.8rem;
border:0.1rem solid rgb(85,165,235,0.5)
background-color:white;
}
.choice-container:hover{
cursor:pointer;
box-shadow:0 0.4rem 1.4rem 0 rgb(86,135,235,0.5);
translate:transform(-0.1rem);
transition:transform 150ms;
}

.choice-prefix{
padding:1.5rem 2.5rem;
background-color:#56a5eb;
color:white;
}
.choice-text{
padding:1.5rem;
width:100%;
}
.correct{
background-color:green;
}
.incorrect{
background-color:red;
}
#hud{
display:flex;
justify-content:space-around;
}
.hud-prefix{
text-align:center;
font-size:2rem;
}
.hud-main-text{
color:#56a5eb;
}